BasedOnStyle: Microsoft
ColumnLimit: 100
SortIncludes: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
BraceWrapping:
  BeforeLambdaBody: true
