Checks: '-*,readability-identifier-naming,misc-include-cleaner'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/external/.*'
CheckOptions:
  - key: misc-include-cleaner.MissingIncludes
    value: 'false'
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'sol/.*;glaze/.*;imgui.*;glm/.*;glad/.*;GLFW/.*;efsw/.*;stb_.*'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
